<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/basic.css" type="text/css" rel="stylesheet" />
<title>国家大剧院</title>
<script language="Javascript" type="text/javascript"> 
setInterval("timer.innerHTML=new Date().toLocaleString()"); 
        window.onload = function (){
  setInterval("timer.innerHTML=new Date().toLocaleString()",1000); 
  }

</script>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/guojia.jpg"/>
    </center>
    <div id="timer" class="right">
</div>
<hr align="center" width="92%" />

</div>

	<div id="bar"> 
    <table align="center">
        <tr>
        	<td width="80px" align="center"><a href="theaterhome.php">首页</a></td>
            <td width="80px" align="center"><a href="theater1.php">剧场信息</a></td>
            <td width="80px" align="center"><a href="group1.php">剧团动态</a></td>
            <td width="80px" align="center"><a href="experience.html">虚拟体验</a></td>
            <td width="80px" align="center"><a href="match1.html">匹配查询</a></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="180px" align="center"></td>
        </tr>
    </table>
  </div>

<div id="left" style="height:1100px; padding-left:30px;background:url(../img/left.jpg) no-repeat center;">
	<ul >
    <li><a href="shanghai1.html">上海东方艺术中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="#">北京保利剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="mei1.html">梅兰芳大剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="wan1.html">万事达中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    </ul>
</div>
<div id="jianjie">
<h4>国家大剧院概况</h4>
<h5> 音乐厅 </h5>
<p>
   国家大剧院音乐厅洁白肃穆，色调风格宁静、清新而高雅，位于歌剧院东侧，以演出大型交响乐、民族乐为主，兼顾其它形式的音乐演出。音乐厅的观众席围绕在舞台四周，设有池座一层和楼座二层，共有观众席2019个（含站席）。演奏台设在观众厅一侧，演奏台宽24米、深 15 米、能容 120 人的乐队演奏。演奏台设有 3 个升降台，在演奏台前部设有钢琴升降台。四周围的数码墙有如站立起来的钢琴琴键，其凹凸的尺寸和形状是由数论精确计算得出，使声音均匀、柔和地扩散反射。在演奏台后设有可供 180 人合唱队使用的观众席合唱区。安放于音乐厅的管风琴可谓音乐厅" 镇厅之宝"，这架目前国内最大的管风琴有94音栓，发声管达6500根之多。出自德国管风琴制造世家——约翰尼斯-克莱斯，与著名的德国科隆大教堂管风琴系出同门，能满足各种不同流派作品演出的需要。音乐厅的顶部、墙壁、地面、舞台、坐席与管风琴的色调搭配和谐优美，处处传递着音乐殿堂的非凡气质，其混响时间为2.2秒，实现了建筑美学和声学美学的完美结合。音乐厅设有 2 个乐队指挥休息套间，2个单人化妆套间，4 单人化妆间，6个中化妆间，7个乐队、合唱队用大化妆间，10间练习琴房和1间管风琴练习琴房。 
</p>
<h5> 歌剧院 </h5>
<p>
   歌剧院是国家大剧院内最宏伟的建筑，以华丽辉煌的金色为主色调。主要上演歌剧、舞剧、芭蕾舞及大型文艺演出。 歌剧院观众厅设有池座一层和楼座三层，共有观众席2398个（含站席）。歌剧院有具备推、拉、升、降、转功能的先进舞台，可倾斜的芭蕾舞台板，可容纳三管乐队的升降乐池。这些世界领先水平的舞台机械设备为艺术家的现场表现提供了丰富可能。舞台歌剧院舞台采用"品"字形舞台形式，包括主舞台、左右侧台和后舞台。 舞台具备推、拉、升、降、转五大功能，可迅速地切换布景。主舞台有六个升降台，既可整体升降又可分别单独升降。左右侧台各有六台可横向移动的车台，通过与主舞台升降台互换位置，可以迁换场景，也可以参与演出。 后舞台下方距地面15米处，储存有一个芭蕾舞台台板，主舞台升降台下降后，芭蕾舞台可移动到主舞台台面上，用于芭蕾舞演出。这块国内面积最大的无缝隙专用芭蕾舞台板，同时也是国内唯一的可倾斜式芭蕾舞台板，可倾斜至5.7度。台面使用俄勒冈木制成，并用三层结构来增加弹性，能最大限度地保护芭蕾舞演员的足尖。舞台上方栅顶高度为32米，吊杆、灯光桥、灯光渡桥通过钢丝绳悬挂在空中。61道电动吊杆，78台轨道单点吊机，24台自由单点吊机，分别用于悬挂幕布和景片。灯光桥、灯光渡桥、灯光吊架将1588盏用于演出的灯具点缀在歌剧院舞台的上方，灯光反应快，可以在几秒钟内变换造型。歌剧院乐池面积120平方米，可容纳90人的三管编制乐队，也可升至观众席水平位置变成观众席。 在乐池中，特别为指挥设计了专用升降台，指挥可以以这种特别的方式出场、谢幕。 
</p>
<h5>戏剧院</h5>
<p>戏剧场是国家大剧院最具民族特色的剧场，以中国红为主色调，真丝墙面烘托出传统热烈的气氛。主要上演话剧、歌剧、地方戏曲等演出。 戏剧场观众厅设有池座一层和楼座三层，共有1035个席位（含站席）。戏剧场舞台拥有先进的舞台机械设备，可以把独特的创作变成表演的现实。其独特的伸出式台唇设计，非常符合中国传统戏剧表演的特点。 </p>
<h6>舞台</h6>
<p> 戏剧场舞台具有"伸出式"和"镜框式"两种样式，可配合剧目需要选择使用。"伸出式"舞台样式时，观众厅前部的台板升起成为舞台的一部分，形成伸出式台唇，台下的观众可以更近距离地观看台上的表演，非常符合中国传统戏剧表演的特点。而当台板不升起时，这部分区域可作为乐池使用，这时舞台看上去就像一个镜框，因此被称为"镜框式"舞台样式。 戏剧场舞台区域分为主舞台和左右辅台。主舞台安装的"鼓筒式"转台，由13个升降块和2个升降台组成，既可整体升降又可分别单独升降，还可以制造边升降边旋转的舞台效果，整套舞台机械在世界上处于先进地位。 戏剧场观众厅墙面采用与音乐厅舞台墙面类似的声扩散墙面，看上去象凸凹起伏的、不规则排列的竖条。大量不规则排列的凹凸槽整体上形成声音的扩散反射，可保证室内声场的均匀性，使声音更美妙动听。 墙面使用特制的丝绸布加以包裹，形成了以红色为主，与黄色、紫色等相间排列的墙面图案。灯光照在墙面上，烘托出亲切、热烈而传统的气氛，营造出颇具中国特色的剧场氛围的同时，也能起到很好的吸音效果。 </p>
<h5>小剧场</h5>
<p> 小剧场是国家大剧院最具多样性可能的多功能剧场，整体色调清新、风格典雅，可以适应室内乐、小型独奏独唱、小剧场话剧、小剧场歌剧、现代舞等多种艺术门类的演出。 小剧场观众席共设有19排，556个席位（含活动座椅）。小剧场于2009年9月落成，2009年10月正式启用。它的落成启用不仅进一步扩充了国家大剧院表演艺术功能，也使得北京现有小剧场群落的演出功能更加丰富。 小剧场采用尽端式舞台。舞台由两块升降平台组成，可根据需要整体升降或分别单独升降。 舞台背后的隔音墙和落地钢化玻璃墙，可以向左右两端折叠收缩。待两面墙完全打开后，面积超过500平方米的室外下沉广场犹如后花园般呈现眼前，既可作为演出的背景，也可直接作为舞台纳入演出，给艺术创作者提供了更大的想象和发挥空间。观众座位共计556席，可根据剧目进行灵活调整，其中电动伸缩看台14排计411席，活动座椅5排计145席.小剧场的白色浮雕天花板与音乐厅类似，声扩散墙面与戏剧场墙面相似，加上有保温及隔音效果的隔断墙，种种量身设计可使声音均匀、柔和地扩散反射。 </p>
</div>


<hr align="left" width="100%" />
<center>
<div id="footer">
	版权所有©2014
</div>
</center>

</body>
</html>
