<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>虚拟体验</title>
</head>

<body>
<div id="header">
	<center>
	<img src=../img/index.jpg />
    </center>
</div>
<hr align="center" width="90%" />

<div id="container">
	<div id="bar"> 
    <table align="center">
        <tr>
        	<td width="80px" align="center">首页</td>
            <td width="80px" align="center">剧场信息</td>
            <td width="80px" align="center">剧团动态</td>
            <td width="80px" align="center">虚拟体验</td>
            <td width="80px" align="center">匹配查询</td>
        </tr>
    </table>
  </div>
    <hr align="center" width="90%" />
    
    <div id="unity"> 
    <table align="center">
    	<tr>
        	<td align="center">虚拟剧场体验</td>
        </tr>      
    </table>
    <hr align="center" width="90%" />
    <table align="center" border="1px" width="90%">
    	<tr>
        	<td align="center">国家大剧院</td>
            <td align="center"><a href="web.html">体验开始</a></td>
        </tr>
        <tr>
       	  <td align="center">保利剧院</td>
            <td align="center">体验开始</td>
        </tr>
    </table>
    </div>
    
<hr align="left" width="100%" />
<center>
<div id="footer">
	<p>版权所有©2014</p>
</div>
</center>

</body>
</html>
