<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>剧团信息发布</title>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/group1.jpg" />
    </center>
</div>
<hr align="center" width="90%" />
<p>&nbsp;</p>
<div>
	<form method="post" action="groupnew.php">  
        <table border="1px" align="center">
        <tr>
        	<td align="left">请输入新的剧团动态信息：</td>
        </tr>
        <tr>
        	<td><textarea name="basic" cols="100" rows="10" /></textarea></td>
        </tr>
        <tr>
			<td align="center">
    		<input type="submit" name="new" value="提交" class="button"></td>
		</tr>   
        </table>
	</form>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr align="left" width="100%" />
<center>
<div id="footer">
	<p>版权所有©2014</p>
</div>
</center>

</body>
</html>


