<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>剧团信息修改</title>
</head>

<body>
<div id="header">
	<center>
	<img src="index.jpg" />
    </center>
</div>
<hr align="center" width="90%" />

<div>
	<form method="post" action="post.php">  
        <table border="1px" align="center">
        <tr>
        	<td align="left">编辑剧团动态信息：</td>
        </tr>
        <tr>
        	<td><textarea name="basic" cols="100" rows="10" /><?=$basic;?></textarea></td>
        </tr>
        <tr>
			<td align="center">
    		<input type="submit" name="new" value="修改" class="button"></td>
		</tr>   
        </table>
	</form>
</div>

<hr align="left" width="100%" />
<center>
<div id="footer">
	<p>版权所有©2014</p>
</div>
</center>

</body>
</html>


