<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>匹配查询</title>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/match.jpg" />
    </center>
</div>
<hr align="center" width="90%" />
<p>&nbsp;</p>
<p>&nbsp;</p>

<div>
	<form method="post" action="match.php">
        <table border="1px" align="center" width="77%">
        <tr>
        	<td align="left" height="25px" colspan="9">请输入参数：</td>
        </tr>
        <tr>
            <td width="18%" align="center">舞台长：</td>
            <td width="10%"><input type="text" name="stage_length" class="input" /></td>
            <td width="8%" align="center">m</td>
            
            <td width="14%" align="center">舞台宽：</td>
            <td width="10%"><input type="text" name="stage_width" class="input" /></td>
            <td width="8%" align="center">m</td>
            
            <td width="12%" align="center">舞台面积：</td>
            <td width="10%"><input type="text" name="stage_area" class="input" /></td>
            <td width="10%" align="center">平米</td>
        </tr>
        <tr>
            <td width="18%" align="center">台口长：</td>
            <td width="10%"><input type="text" name="length" class="input" /></td>
            <td width="8%" align="center">m</td>
            
            <td width="14%" align="center">台口宽：</td>
            <td width="10%"><input type="text" name="width" class="input" /></td>
            <td width="8%" align="center">m</td>
            
            <td width="12%" align="center">台口高：</td>
            <td width="10%"><input type="text" name="height" class="input" /></td>
            <td width="10%" align="center">m</td>
        </tr>
        <tr>
            <td width="18%" align="center">吊杆数量：</td>
            <td width="10%"><input type="text" name="num" class="input" /></td>
            <td width="8%" align="center">个</td>
            
            <td width="14%" align="center">吊灯接口数：</td>
            <td width="10%"><input type="text" name="port" class="input" /></td>
            <td width="8%" align="center">个</td>
        </tr>
        <tr>
            <td width="18%" align="center">观众席座位数：</td>
            <td width="10%"><input type="text" name="audience" class="input" /></td>
            <td width="8%" align="center">人</td>
        </tr>
        <tr>
			<td align="center" colspan="9">
    		<input type="submit" name="action" value="提交" class="button"></td>
		</tr>   
        </table>
    </form>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr align="center" width="90%" />
<center>
<div id="footer">
	<p>版权所有©2014</p>
</div>
</center>

</body>
</html>
