<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/basic.css" type="text/css" rel="stylesheet" />

<title>梅兰芳大剧院</title>
<script language="Javascript" type="text/javascript"> 
setInterval("timer.innerHTML=new Date().toLocaleString()"); 
        window.onload = function (){
  setInterval("timer.innerHTML=new Date().toLocaleString()",1000); 
  }

</script>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/meilanfang.jpg"/>
    </center>
    <div id="timer" class="right">
</div>
<hr align="center" width="90%" />

</div>

	<div id="bar"> 
    <table align="center">
        <tr>
        	<td width="80px" align="center"><a href="grouphome.php">首页</a></td>
            <td width="80px" align="center"><a href="theater2.php">剧场信息</a></td>
            <td width="80px" align="center"><a href="group2.php">剧团动态</a></td>
            <td width="80px" align="center"><a href="experience.html">虚拟体验</a></td>
            <td width="80px" align="center"><a href="match.html">匹配查询</a></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="180px" align="center"></td>
        </tr>
    </table>
  </div>

<div id="left" style="height:740px; padding-left:30px;background:url(../img/left.jpg) no-repeat center;">
	<ul >
    <li><a href="country2.html">国家大剧院</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="#">北京保利剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="shanghai2.html">上海东方艺术中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="wan2.html">万事达中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    </ul>
</div>
<div id="jianjie">
<h4>梅兰芳大剧院概况</h4>

<p>
   首都西城，在繁华的金融街与古朴的平安里西大街的交汇点上，巍然矗立起一座极富民族特色，又具现代风格的宏伟建筑，这就是以中国京剧艺术大师梅兰芳先生命名，集传统与现代艺术完美结合，具有中国气派的现代化艺术殿堂——梅兰芳大剧院。
</p>
<h5>高雅时尚的建筑风格</h5>
<p>
  剧院通体由透明的玻璃幕墙包裹，透过明亮的玻璃，能看到一道彰显皇家气派的中国红墙，每临夜晚，宛如一块红色水晶在两幢摩天大楼的怀抱之中熠熠放光。大剧院的外部结构体现了现代的设计理念，钢架支撑的扇形屋架配以玻璃屋面，构成了一个动态的结构平衡体系，形成流畅、生动、富有乐感的建筑形体。 剧院内部装饰融入了中国传统建筑形式的精髓，红色的立柱，红色的大墙，镶嵌着数十个金色的木质圆形浮雕，每一浮雕都凝固和再现着200年来京剧承传的精华。远远望去，犹如一道向世人开放的艺术之门，传递出北京这座历史名城深厚的文化底蕴和京剧艺术海纳百川的包容胸怀。 现代一流的演出设施梅兰芳大剧院是一座拥有高技术含量的演出场所。其厅堂设计、剧场设计、舞台工艺设计和设备配置具有原创性和中国特色。舞台上六块升降台、三台活动升降车、五十余道电动吊杆和具有国际水准的美国温格尔反声罩系统，创造出炫目的舞台视觉、听觉享受，除适合中国京剧表演外，也能满足国内外歌剧、话剧、舞剧、音乐会等各种艺术形式的演出需要。剧院的声学设计得到了欧盟一流建声专家蒂塞尔先生的指导，以建筑声学为主，电声设计为辅，将建声设计、扩声设计、噪音控制、隔声处理融为一体，追求建声与数字化音响系统的完美结合。观众在剧场欣赏到的是演员、乐队不失真的真声传播。观众厅的设计分为上中下三层，一层为甲级池座有300多个席位，观赏视觉优良；二层最佳位置设置了5个豪华包厢，每个包厢配有休息室和卫生间，设有专门的疏散通道和电梯；三层楼座500多个座位的设计符合人体生理结构，观众落座观看演出，舒适惬意。剧场设计中还别具匠心地安置10个摄像机位，为电视媒体的录直播和演员后台候场提供了条件。</p>
  <h5>便捷的地理位置</h5>
   <p> 　梅兰芳大剧院地处金融街北端，阜成门、新街口、西直门商圈中心，在剧院周围有19个政府机构，20家金融机构总部，2000余所公司商户，是北京西部地区政治文化核心区之一，也是知识阶、商务人士、白领一族云集的地块。剧院道路的规划，采用了人车分流的设计，观众、演员、车辆各行其口。剧院北部设有集散广场，周围道路顺畅。建筑物周围的环形车道，既满足了车辆行驶的需要，也满足了消防的要求，形成了便捷、安全的交通系统。另外，在群体建筑的地下设有几百个停车位，可供商务办公和观看演出使用。剧院地处西二环与平安里大街的枢纽地段，毗邻地铁车公庄站，周边公共交通资源丰富，地上地下的交通设施交织成立体的行程网络，为观看演出提供了方便。 
</p>
<h5>人文个性的服务理念</h5>
<p>梅兰芳大剧院是精品艺术的荟萃之地，也是文化人士的集结场所。每一个细节、甚至每一处附属设施都体现了设计者孜孜以求的艺术精神和人文个性的服务理念。剧院拥有一流、完备的内部设施，先进的数字化大型录音棚、豪华多功能厅、设备齐全的会议室，可承接演出之外的多种活动。四楼的京剧艺术馆，陈列的数十个真人大小的精美京剧人偶流光溢彩，观众在欣赏京剧演出的同时，还能通过展览零距离地走近京剧文化。剧场还设有咖啡厅、茶座、京剧艺术造型摄影屋，以及音像、图书、礼品、鲜花、食品销售点，为观众提供方便周到的服务。  </p>
</div>


<hr align="left" width="100%" />
<center>
<div id="footer">
	版权所有©2014
</div>
</center>

</body>
</html>
