<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/basic.css" type="text/css" rel="stylesheet" />
<title>上海东方艺术中心</title>
<script language="Javascript" type="text/javascript"> 
setInterval("timer.innerHTML=new Date().toLocaleString()"); 
        window.onload = function (){
  setInterval("timer.innerHTML=new Date().toLocaleString()",1000); 
  }

</script>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/shanghai.jpg"/>
    </center>
    <div id="timer" class="right">
</div>
<hr align="center" width="90%" />

</div>

	<div id="bar"> 
    <table align="center">
        <tr>
        	<td width="80px" align="center"><a href="systemhome.php">首页</a></td>
            <td width="80px" align="center"><a href="theater3.php">剧场信息</a></td>
            <td width="80px" align="center"><a href="group3.php">剧团动态</a></td>
            <td width="80px" align="center"><a href="experience.html">虚拟体验</a></td>
            <td width="80px" align="center"><a href="match1.html">匹配查询</a></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="180px" align="center"></td>
        </tr>
    </table>
  </div>

<div id="left" style="height:1060px; padding-left:30px;background:url(../img/left.jpg) no-repeat center;">
	<ul >
    <li><a href="country3.html">国家大剧院</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="#">北京保利剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="mei3.html">梅兰芳大剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="wan3.html">万事达中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    </ul>
</div>
<div id="jianjie">
<h4>上海东方艺术中心概况</h4>
<h5> 建筑特点 </h5>
<p>
   整个建筑外表采用金属夹层玻璃幕墙，内墙装饰特制的浅黄、赭红、棕色、灰色的陶瓷挂件。建筑顶部安装了融入高科技的880多盏嵌入式顶灯，当美妙的旋律在音乐厅奏响时，灯光会随旋律起伏变幻，将夜色中的东方艺术中心变的璀璨奇异、充满动感。上海东方艺术中心由1953座的东方音乐厅、1020座的东方歌剧厅和333座的东方演奏厅组成。拥有当今国际上最先进的舞台、音响、灯光设备，可以满足交响乐、芭蕾、音乐剧、歌剧、戏剧等不同演出需要。 
</p>

<p>
   东方音乐厅可满足大型交响乐团和合唱团以及各类独唱、独奏音乐会的演出要求。作为一个出色的音乐的构思，为了寻求音乐厅和谐与舒适的平衡，对声学及舞台设备都进行了完美设计。一个"光与影"的场景－－在这个观众厅里将会创造出一种巨大而平和的氛围，由舞台灯光形成的峡谷般的舞台周围，围绕着暗色的山丘状的观众席，为欣赏源于自然与生活的交响音乐，创造了自然、和谐、典雅的观赏氛围和环境。</p>
   <p> 　　音乐厅的舞台，位于音乐厅中央偏后的位置，是标准的中心演出台形式。音乐厅的舞台可以通过改变升降台的高度，从而完成多种工艺造型，以适应不同规模及类型的音乐表演艺术团体演出及排练。在舞台的正上方还设置有5块大反射板、68块小反射板、4道电动灯杆、2道侧灯光吊杆、1道天幕吊杆、10台单点吊机。此外，东方音乐厅安装有目前国内规模最大的为东方艺术中心量身定做的88音栓管风琴。 
</p>
<h5>东方歌剧厅</h5>
<p>东方歌剧厅可容纳1015位观众，其中包括乐池的可活动座椅102个。观众厅共分为二层：一层（含池座）可容纳799人，二层可容纳216名观众观看演出。整个剧场以大面积的红色作为基调，剧场的空间被侧翼的"弧"分成3个区域，寻回了意大利式歌剧院的贵族气派和亲密的氛围。舞台是整个剧场的核心，采用国际上通行的"品"字形舞台。并拥有一个由两部分组成面积为120平方米的乐池，可容纳100人的交响乐队。中心演出区域舞台则拥有侧车台、15米见方的大型车台、冰车台、芭蕾舞台、直径为14米的行走式转台、五块双层电动升降舞台等功能。这些功能舞台通过电脑控制可以升降、旋转和移动，能够完成复杂的剧幕场景变换，充分满足了音乐剧、歌剧、芭蕾、戏剧和综合文艺演出的不同需要，使观众能够享受全面的舞台艺术魅力。特别要说明的是，上海东方艺术中心是目前国内第一家拥有冰台的专业室内剧场，长14.8米宽11.72米的冰台通过制冰冷媒可快速制成厚度为0.05米。  </p>

<p>  　　在东方歌剧厅上演了一系列重要的歌剧、舞剧和音乐剧演出。其中包括：第四届全国歌剧、舞剧、音乐剧优秀剧目展演 俄罗斯圣彼得堡冰上芭蕾舞剧团冰上芭蕾东方艺术中心新年经典芭蕾系列罗西尼两幕喜歌剧《塞维利亚的理发师》排练厅为艺术家们提供功能完善的排练空间。舞蹈排练厅--舞者实现音乐与形体完美结合的艺术创作场所；合唱排练厅--独立安静的排练空间，天籁之音源起的地方；交响乐排练厅--伟大、自然、和谐的交响作品在这里得到更完美的演绎；综合排练厅--听觉、视觉，艺术各元素的完美结合。此外，排练厅良好的声学效果与完善的设施还同时具备了录音棚的功能。</p>
<h6>展览厅</h6>　　<p>在东方艺术中心中心大堂二层平面上设有一个面积为250平方米、高9.8米的展览厅，是举办各类艺术展览的极佳场所。</p><h6>化妆间</h6><p>设计独特、环境优雅的化妆间，为到来的艺术家们提供舒适、安静的创作与休息环境。东方音乐厅拥有包括3间VIP化妆间在内的8间化妆间，可同时容纳145人；东方歌剧厅共有包括2间VIP化妆间在内的16间化妆间，可同时容纳180人；东方演奏厅拥有化妆间4间。</p><h6>贵宾厅</h6>　　<p>东方艺术中心拥有三个设计别致、环境高雅的贵宾厅。主贵宾厅位于中央大厅入口的下方，可作为贵宾通往歌剧厅和音乐厅的枢纽；音乐厅贵宾厅位于音乐厅旁的首层平面；歌剧厅贵宾厅与观众厅内的风格完美统一。 </p>
</div>


<hr align="left" width="100%" />
<center>
<div id="footer">
	版权所有©2014
</div>
</center>

</body>
</html>
