<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../css/basic.css" type="text/css" rel="stylesheet" />
<title>万事达中心</title>
<script language="Javascript" type="text/javascript"> 
setInterval("timer.innerHTML=new Date().toLocaleString()"); 
        window.onload = function (){
  setInterval("timer.innerHTML=new Date().toLocaleString()",1000); 
  }

</script>
</head>

<body>
<div id="header">
	<center>
	<img src="../img/wanshida.jpg"/>
    </center>
    <div id="timer" class="right">
</div>
<hr align="center" width="90%" />

</div>

	<div id="bar"> 
    <table align="center">
        <tr>
        	<td width="80px" align="center"><a href="systemhome.php">首页</a></td>
            <td width="80px" align="center"><a href="theater3.php">剧场信息</a></td>
            <td width="80px" align="center"><a href="group.html">剧团动态</a></td>
            <td width="80px" align="center"><a href="experience.html">虚拟体验</a></td>
            <td width="80px" align="center"><a href="search.html">匹配查询</a></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="80px" align="center"></td>
            <td width="180px" align="center"></td>
        </tr>
    </table>
  </div>

<div id="left" style="height:288px; padding-left:30px;background:url(../img/left.jpg) no-repeat center;">
	<ul >
    <li><a href="country3.html">国家大剧院</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="#">北京保利剧场</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="shanghai3.html">上海东方艺术中心</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    <li><a href="mei3.html">梅兰芳大剧院</a></li>
    <li><img src="../img/20131226200327_20.gif" /></li>
    </ul>
</div>
<div id="jianjie">
<h4>万事达中心概况</h4>

<p>
   万事达中心占地面31.4万平方米，建筑面积6.3万平方米，分为地下三层和地上四层。由美国设计师直接参与设计，是国内首家符合NBA标准的多功能场馆，可举办各类体育赛事及演唱会、会展等。
</p>

<p>
  场馆内设剧院软包座椅，NBA专属漏斗型显示屏，环内场LED屏幕，可收缩座席，国际标准吊顶母架等独有设施。 场馆正中悬挂的漏斗屏由大小12块显示屏组成，分8个方向面对场内观众悬挂，以满足各方位观众的欣赏需求，同时还可进行收缩以确保任何演出的视线清晰。 </p>

   <p> 馆内世界级的后台区，房间充沛并配有大型一站式装卸区直通后台及场地区，能够满足所有演出专业团队的需求。全套马道设备，符合国际标准的吊顶母架，以及国际标准的吊挂工程支持能够大幅降低舞台搭建难度。在拥有优质硬件设施的同时，场馆致力于为每一位观众提供优质的服务。从宽敞的走廊，精美的餐饮服务，专业的引导员，温馨的残疾人服务，到存包处，母婴室，失物招领处，场馆充分考虑观众需求，突出人性化理念。 
</p>

</div>


<hr align="left" width="100%" />
<center>
<div id="footer">
	版权所有©2014
</div>
</center>

</body>
</html>
